<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gestion de Clientes</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link href='../static/Estilo.css' rel="stylesheet">
    </head>
    <body>
        <nav class="container">
            <ul class="row" id="center_y">
                <div id="dashboard">
                    <div class="col d-flex justify-content-center" id="banner">
                        <h1>Editar Cliente</h1>
                    </div>
                    <div class="col d-flex justify-content-center" id="spaced">
                        <div id="spaced">
                            <div id="selected">Gestionar Clientes</div>
                        </div>
                        <div id="spaced">
                            <a href="{{url_for('CrudProductos')}}">Gestionar Productos</a>
                        </div>
                        <div id="spaced">
                            <a href="{{url_for('EmitirFactura')}}">Emitir Factura</a>
                        </div>
                        <div id="spaced">
                            <a href="{{url_for('ListarFacturas')}}">Listado de facturas</a>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center" id="spaced">
                        <form method="get">
                            <div class="col justify-content-center" id="spaced_top">
                                <input type="text" name="id_cliente" value="{{data.id_cliente}}" hidden>
                                <input type="text" name="Nombre" placeholder="Nombre" value="{{data.nombre}}" required>
                                <input type="text" name="direccion" placeholder="Direccion" value="{{data.direccion}}" required>
                                <input type="tel" name="telefono" placeholder="Telefono 000-000-0000" value="{{data.telefono}}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
                                <input type="email" name="email" placeholder="email" value="{{data.email}}"required>
                                <input type="number" name="query_type" value="2" hidden>
                                <button type="submit" name="insert">Insertar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </ul>
        </nav>
    </body>
</html>