<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Listado de facturas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link href='../static/Estilo.css' rel="stylesheet">
    </head>
    <body>
        <nav class="container">
            <ul class="row" id="center_y">
                <div id="dashboard">
                    <div class="col d-flex justify-content-center" id="banner">
                        <h1>Listado de facturas</h1>
                    </div>
                    <div class="col d-flex justify-content-center" id="spaced">
                        <div id="spaced">
                            <a href="{{url_for('CrudClientes')}}">Gestionar Clientes</a>
                        </div>
                        <div id="spaced">
                            <a href="{{url_for('CrudProductos')}}">Gestionar Productos</a>
                        </div>
                        <div id="spaced">
                            <a href="{{url_for('EmitirFactura')}}">Emitir Factura</a>
                        </div>
                        <div id="spaced">
                            <div id="selected">Listado de facturas</div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center" id="spaced">
                        <form action="{{url_for('DetallesFactura')}}" method="post">
                            <div class="col justify-content-center" id="spaced_top">
                                <input type="text" name="id_cliente" placeholder="Id_cliente">
                                <input type="date" name="fecha" placeholder="Fecha: year-Mo-da">
                                <input type="number" name="query_type" value="1" hidden>
                                <button type="submit" name="insert">buscar</button>
                            </div>
                        </form>
                    </div>
                    <div id="spaced_left">
                        <table id="box">
                            <tr>
                                <th>Id_factura</th>
                                <th>Id_clientes</th>
                                <th>Fecha</th>
                                <th>Total</th>
                                <th>Acciones</th>
                            </tr>
                            {% for row in data %}
                            <tr>
                                <td id="spaced">{{row.id_factura}}</td>
                                <td id="spaced">{{row.id_cliente}}</td>
                                <td id="spaced">{{row.fecha}}</td>
                                <td id="spaced">{{row.total}}</td>
                                <td>
                                    <form action="{{url_for('DetallesFactura')}}" method="post">
                                        <input type="number" name="id_cliente" value={{row.id_factura}} hidden>
                                        <input type="number" name="query_type" value="0" hidden>
                                        <button type="submit" name="insert">Detalles</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </ul>
        </nav>
    </body>
</html>